body {
    margin: 0;
}

h1 {
    font-family: monospace;
    font-size: 2em;

}

#home-content {
    background-image: url("background.jpeg");

    img {
        height: 100px;
        width: 25%;
        display: block;
        z-index: 1;
    }

}

#about-me {
    overflow: auto;
    background-image: url("background.jpeg");
}

#about-me img {
    filter: grayscale(100%);
    height: 200px;
    width: 30%;
    display: block;
    z-index: -1;
    }

#portfolio {
    background-image: url("background.jpeg");

h1 {
    margin: 0 auto;
}

img {
    padding: 15px;
    width: 25%;
    height: 250px;
}

}

#Contact {
    background-image: url("background.jpeg");
}

nav {
    position: fixed;
    top: 0;
    background: paleturquoise;
    height: 70px;
    opacity: 0.5;
}

ul {
    text-align: center;
    padding: 1% 0% 0% 0%;
}

li {
    display: inline;
    padding: 0% 5% 0% 5%;
}

.container {
    width: 40%;
    margin: 0 auto;
    overflow: auto;
}

.container img {
    width: 200px;
    float: right;
}

.about-me-text {
    text-align: left;
    width: 50%;
    height: 100px;
    float: left;
    word-wrap: break-word;
    font-family: Monospace;
}


.background-width {
    width: 100%;
}

.alignment {
    margin: 0 auto;
    text-align: center;
}

footer {
    height: 5%;
}

.hamburger {
    display: none;
}
@media only screen and (max-width: 600px) {
    ul {
        display: none;
    }

    .hamburger {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 8px 0px 0px 10px;
    }

}