.productimg {
    float: left;
    width: 25%;
    height: 50%;
    padding: 15px;
}

nav {
    height: 4%;
    width: 100%;
}

ul{
    float: right;
    list-style-type: none;
}
li{
    display: inline;
    margin-right: 10px;
}